%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.1"}}}
]}.

{plugins, [
    {rebar3_rust, {git, "https://github.com/lattenwald/rebar3_rust.git", {branch, "master"}}},
    erlfmt
]}.

{provider_hooks, [{post, [{compile, {rust, compile}}]}]}.

{profiles, [
    {docs, [
        {deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "0.8.1"}}}]},

        {edoc_opts, [
            {doclet, edown_doclet},
            {app_default, "http://www.erlang.org/doc/man"},
            {top_level_readme, {"doc/README.md", "http://github.com/lattenwald/erl-tdlib"}}
        ]}
    ]}
]}.
