%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
    {jsx, "3.1.0"},
    {lager, "3.9.2"}
]}.

{plugins, [
    {rebar3_rust, {git, "https://github.com/lattenwald/rebar3_rust.git", {branch, "master"}}},
    erlfmt
]}.

{provider_hooks, [{post, [{compile, {rust, compile}}]}]}.

{profiles, [
    {docs, [
        {deps, [{edown, "0.8.4"}]},

        {edoc_opts, [
            {doclet, edown_doclet},
            {app_default, "http://www.erlang.org/doc/man"},
            {top_level_readme, {"doc/README.md", "http://github.com/lattenwald/erl-tdlib"}}
        ]}
    ]}
]}.
