%% -*- mode: erlang -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {jsx, "3.1.0"},
    {lager, "3.9.2"}
]}.

{plugins, [rebar3_cargo, erlfmt]}.

{provider_hooks,
 [ {pre, [ {compile, {cargo, build}} ]},
   {post, [ {clean, {cargo, clean}},
            {eunit, {cargo, test}}
          ]}
 ]}.

%% version should match with crates/tdlib-nif/Cargo.toml
{post_hooks, [{"(linux|darwin|solaris)", compile, "cp -f priv/crates/tdlib_nif/0.2.0/release/libtdlib_nif.so priv/"}]}.

{profiles, [
    {docs, [
        {deps, [{edown, "0.8.4"}]},

        {edoc_opts, [
            {doclet, edown_doclet},
            {app_default, "http://www.erlang.org/doc/man"},
            {top_level_readme, {"doc/README.md", "http://github.com/lattenwald/erl-tdlib"}}
        ]}
    ]}
]}.
